@model LiftMax

<form method="post">
    <div asp-validation-summary="All">

        Id:
        <input asp-for="Id" />
        <br />

        Date:
        <input asp-for="Date" />
        <br />

        Name:
        <input asp-for="Name" />
        <br />

        Weight:
        <input asp-for="Weight" type="number" />
        <br />

        <input type="submit" value="Add LiftMax" />

    </div>
</form>